---
- name: Molecule Test for installation of ActiveMQ
  hosts: activemq
  vars_files:
    - ../../../../playbooks/roles/vars_files/connection.yml

  tasks:
    - name: Install and configure Powerflex ActiveMQ
      ansible.builtin.import_role:
        name: powerflex_activemq
      vars:
        powerflex_activemq_state: present

    - name: Verifying install package in check mode
      ansible.builtin.assert:
        that:
          - 'powerflex_common_install_package_output.rc == 0'
      when: ansible_check_mode

    - name: Verifying installation package in normal mode
      ansible.builtin.assert:
        that:
          - 'powerflex_common_install_package_output.rc == 0'
      when:
        - not ansible_check_mode and powerflex_common_install_package_output.changed
        - ansible_distribution in ("RedHat", "CentOS", "SLES", "Rocky")
