---
- name: Molecule Test for Configuring Protection Domain
  hosts: mdm
  vars_files:
    - ../../../../playbooks/roles/vars_files/connection.yml

  tasks:
    - name: Run Config role
      ansible.builtin.import_role:
        name: "powerflex_config"
      register: powerflex_config_result

    - name: "Verifying protection domain creation" # noqa no-handler
      ansible.builtin.assert:
        that:
          - 'powerflex_config_add_pd_output.protection_domain_details.name == powerflex_protection_domain_name'
      when: powerflex_config_add_pd_output.changed

    - name: "Verifying storage pool R2 creation" # noqa no-handler
      ansible.builtin.assert:
        that:
          - 'powerflex_config_storage_pool_output.storage_pool_details.name == powerflex_storage_pool_name'
      when: powerflex_config_storage_pool_output.changed

    - name: "Verifying storage pool R3 creation" # noqa no-handler
      ansible.builtin.assert:
        that:
          - 'powerflex_config_storage_pool_output.storage_pool_details.name == powerflex_storage_pool_name'
      when: powerflex_config_storage_pool_output.changed and powerflex_media_type is not none

    - name: "Verifying protection domain creation in Idempotency" # noqa no-handler
      ansible.builtin.assert:
        that:
          - 'powerflex_config_add_pd_output.protection_domain_details.name == powerflex_protection_domain_name'
      when: powerflex_config_add_pd_output.changed

    - name: "Verifying storage pool R2 creation in Idempotency" # noqa no-handler
      ansible.builtin.assert:
        that:
          - 'powerflex_config_storage_pool_output.storage_pool_details.name == powerflex_storage_pool_name'
      when: powerflex_config_storage_pool_output.changed

    - name: "Verifying storage pool R3 creation in Idempotency" # noqa no-handler
      ansible.builtin.assert:
        that:
          - 'powerflex_config_storage_pool_output.storage_pool_details.name == powerflex_storage_pool_name'
      when: powerflex_config_storage_pool_output.changed and powerflex_media_type is not none
